/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
	background: #111;
	overflow-y: hidden;
}
 /* Base styles */
/* Base styles */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
	background-color: #333;

  }
  
  .header {
	width: 100%;
	text-align: center;
  }
  
  .title {
	font-size: 2rem;
	font-weight: bold;
	color: white;
  }
  
  .chat {
	width: 100%;
	background-color: #2c2c2c;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-top: 2rem;
	overflow-y: auto;
  }
  
  .messages {
	display: flex;
	flex-direction: column;
	width: 200%;
	justify-content: flex-end;
	height: 100%;

  }

  .form {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .input {
	flex-grow: 1;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	font-size: 1rem;
  }
  
  .button {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color: #111;
	color: white;
	border: none;
	font-size: 1rem;
	cursor: pointer;
  }
  
  /* Media queries */
  
  @media (max-width: 640px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 1rem;
	  }
	  
	.chat {
	  width: auto;
	  height: auto;
	}

	.messages {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: flex-end;
		height: 20%;
	  }
  }
  